
    body{
    background-color: #10160d;
    color:#0f55a0;
    font-weight: ariel;    
    font-size: 8;
}
h1{
    font-size: 20;
    color: #60b3e7;
}
h2{
    font-size: 15;
    color: #448ddb;
}
h3{
    font-size: 10;
    color: #38a35a;
}
p{
    font-size: 7;
    color:#d8cdd1 ;
}
#container{
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #281f10;
    color: white;
}
header{
    width: 900px;
    height: 100px;
    background-color: aqua;
    
}
header img{
    margin: 3px;
}
.navagation{
    display: flex;

}
nav{
    display: inline;
    
}
.navagation li{
    list-style:none ;
   
}
.navagation li a{
    margin: 4px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    text-decoration: none;
    padding: 3px;
    text-decoration: none;
}
.navagation li:hover{
   
    border: 1px solid white;
    background-color: blue;
    color: white;
}
section{
    width: 900px;
    background-image: url("images/background.jpg");
    background-repeat: repeat-y;
}
article{
    width: 800px;
    
}